#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.addProduct {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 0px 20px 20px 20px;
  width: 400px;
  margin: auto;

  form {
    display: flex;
    flex-direction: column;

    .MuiFormControl-root, .MuiFormControlLabel-root  {
      margin-bottom: 20px;
    }

    input[type='submit'] {
      padding: 10px 20px;
      border-radius: 20px;
      background: #fff;
      font-size: 16px;
      border: 1px solid grey;
      cursor: pointer;
    }

    .MuiAlert-root {
      margin-bottom: 20px;
    }
  }
}

.productList {
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  

  .product {
    width: 29%;
    padding: 20px;
    margin-bottom: 20px;

    form {
      display: flex;
      flex-direction: column;
      
      .MuiFormControl-root, .MuiFormControlLabel-root  {
        margin-bottom: 20px;
      }
  
      .MuiButton-root {
        margin-bottom: 10px;
      }
    }

    
  }
}
